---
title: آخر الأخبار
menu: true
menuIndex: 2
newsLimit: 7
eventsLimit: 2
---
<!-- BEGIN #content -->
<div id="content">
    <div class="section clearfix">
        
    <div class="blog-list-wrapper">
                <h2 class="title2">{{title}}</h2>
                {{#each news}}
                {{#each pages}}
                <!-- BEGIN .blog-title -->
                <div class="blog-title clearfix">
                    <div class="fl">
                        <h3><a href="{{> page-link}}">{{data.title}}</a></h3>
                    </div>
                <!-- END .blog-title -->
                </div>
                
                <!-- BEGIN .blog-content -->
                <div class="blog-content clearfix">
                    {{#if data.thumbnailWide}}
                    <img src="{{assets}}/images/{{data.thumbnailWide}}" alt="" class="prev-image">
                    {{/if}}
                    <p>{{data.summary}}</p><a href="{{> page-link}}" class="button1">أقرأ المزيد</a>
                <!-- END .blog-content -->
                </div>
                {{/each}}
                {{/each}}


    </div>
    </div>
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}