<h3 class="title1">أحداث<span class="title-end"></span></h3>
{{#each event}}
{{#each pages}}
{{#lte @index ../../eventsLimit}}
<div class="event-prev clearfix">
    <div class="event-prev-date">
        <p class="month">{{data.month}}</p>
        <p class="day">{{data.day}}</p>
    </div>
    <div class="event-prev-content">
        <h4><a href="{{> page-link}}">{{data.title}}</a></h4>
        <p><strong>الوقت:</strong> {{data.time}} <br>
        <strong>المكان:</strong> {{data.location}}</p>
    </div>
</div>
{{/lte}}
{{/each}}
{{/each}}